<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lda.system.mapper.LogMapper">

    <select id="findLogByPage" resultType="com.lda.system.entity.vo.LogVO">
      select  id,username,operation,time,method,params,ip,create_time,location
      from tb_log
      ${ew.customSqlSegment}
    </select>
</mapper>
