<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lda.system.mapper.MenuMapper">


    <select id="selectALL" resultType="Menu">
        select id,parent_id,menu_name,url,
        perms,icon,type,order_num,create_time,
        create_time,available,open
        from tb_menu
    </select>
</mapper>
